/* Pseudo-elemento ::before para criar um fundo preto estilizado */
html::before {
    content: ""; /* Conteúdo vazio, pois é um pseudo-elemento de estilo */
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    width: 200%; /* Largura excedendo a largura do elemento pai para cobrir toda a largura da tela */
    height: 100px; /* Altura do elemento pseudo */
    background-color: rgb(0, 0, 0); /* Cor de fundo preto */
    z-index: -1; /* Coloca o elemento atrás de outros elementos no empilhamento de camadas */
}

/* Estilo da barra de navegação */
.navbar {
    height: 10px; /* Altura da barra de navegação */
    align-content: first baseline; /* Alinhamento de conteúdo na primeira linha da linha-base */
    padding-left: 30px; /* Espaçamento interno à esquerda */
    padding-right: 110px; /* Espaçamento interno à direita */
}

/* Estilo para a classe custom-icon */
.custom-icon {
    color: red; /* Cor vermelha para ícones personalizados */
}

/* Estilo para a classe custom-icon-2 */
.custom-icon-2 {
    color: green; /* Cor verde para outro tipo de ícone personalizado */
}

/* Estilo padrão para todos os botões */
.btn {
    border: rgb(0, 0, 0); /* Cor da borda dos botões */
}
